<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Date
						</th>
						<th>
							Cash in Hand
						</th>
						<th>
							Profit
						</th>
					</tr>
				</thead>
				<tbody>

          {{#each dailies as |daily index|}}
          <td>
            {{incrementone index}}
          </td>
          <td>
            {{moment-format daily.date 'DD-MM-YYYY'}}
          </td>
          <td>
            {{daily.cashinhand}}
          </td>
          <td>
            {{daily.profit}}
          </td>

          {{/each}}


				</tbody>
			</table>



      {{#bs-accordion as |acc|}}
			{{#each dailies as |daily index|}}
  {{#acc.item  title=""}}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
  {{/acc.item}}


	{{/each}}
{{/bs-accordion}}



{{#bs-accordion class="list-accordion" as |acc|}}
	{{#acc.item class="list-accordion-item" as |accItem|}}
		{{#accItem.title class="list-accordion-item-heading"}}
			...
		{{/accItem.title}}
		{{#accItem.body class="list-accordion-item-body"}}
			...
		{{/accItem.body}}
	{{/acc.item}}
{{/bs-accordion}}

		</div>
	</div>
</div>
